<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{"LOGIN" | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <br><br>
    <ion-list class="shadow-bottom" padding>
        <ion-item class="img-container-logo-login" clear> 
                <img src="assets/images/logomarcarsgfindigo.png" class="img-logo-login">
        </ion-item>
        <ion-item>
            <ion-label floating>{{"DIGITE_LOGIN" | translate}}</ion-label>
            <ion-input #inputLogin [(ngModel)]="user.login" type="text" (keyup.enter)="login()"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label floating>{{"DIGITE_SENHA" | translate}}</ion-label>
            <ion-input #inputSenha [(ngModel)]="user.password" type="password" (keyup.enter)="login()"></ion-input>
        </ion-item>
        
        <ion-item>
            <button (click)="login()" [disabled]="!inputLogin.value || !inputSenha.value" ion-button full padding icon-left>
                    <ion-icon name="send"></ion-icon>
                {{"LOGIN" | translate}}
            </button>
        </ion-item>
    </ion-list>
</ion-content>
