.status-escala{
    font-weight: 500;
    padding: 0.3rem;
    margin-top: -0.5rem;
}

.img-btn-mes-ano{
    max-width: 3.5rem
}
.titulo-mes-ano{
    font-size: 1.8rem;
    width: 50%;
    text-align: left;
    font-weight: 500;
    float: left;
    padding: 0.7rem;
}

.bar-left{
    width: 1.5rem;
    height: 8rem;
    margin-left: -1.7rem;
    float: left;
    margin-top: -2rem;
    z-index: 100;
}

.mes-ano{
    overflow: hidden !important;
    height: 6.5rem;
}

.info-cores-escala{
    font-size: 1.1rem;
    text-align: center;
    .alert, .danger, .blue-grey, .secondary{
        border-radius: 1rem;
        padding: 0.3rem 0.8rem;
    }
}

.width-select{
    min-width: 80%;
}