<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{"HOME" | translate}}
    </ion-title>
    <ion-buttons end>
      <button (click)="logout();" ion-button icon-only>
        <ion-icon name="exit" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- ************ Filtros -->
    <ion-item>
      <ion-label><b>{{'FILIAL' | translate}}:</b></ion-label>
      <ion-select class="width-select"  [(ngModel)]="filialSelecionada" [disabled]="!listaFiliais || listaFiliais.length == 1" interface="action-sheet"
              (ionChange)="onChangeFilial()" okText="{{'OK' | translate}}" cancelText="{{'CANCELAR' | translate}}">
        <ion-option  *ngIf="!filialSelecionada && listaFiliais && listaFiliais.length > 2"></ion-option>
        <ion-option *ngFor="let filial of listaFiliais" [value]="filial.id">{{filial.fantasia}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label><b>{{'ANO' | translate}}:</b></ion-label>
      <ion-select class="width-select" [(ngModel)]="anoSelecionado" [disabled]="!listaAnos || listaAnos.lenth == 1" interface="action-sheet"
                    (ionChange)="onChangeAnoMeses()" okText="{{'OK' | translate}}" cancelText="{{'CANCELAR' | translate}}">
        <ion-option  *ngIf="!anoSelecionado && listaAnos && listaAnos.length > 2"></ion-option>
        <ion-option *ngFor="let ano of listaAnos" [value]="ano.ano">{{ano.ano}}</ion-option>
      </ion-select>
    </ion-item>
</ion-header>
<!-- ************* Filtros -->
<ion-content >

  <ion-grid>
    <ion-row>
      <ion-col class="info-cores-escala" col-12>
          <ion-col class="blue-grey" col-3>{{"NAO_INICIADO" | translate}}</ion-col>
          <ion-col class="alert" col-3>{{"ABERTO" | translate}}</ion-col>
          <ion-col class="secondary" col-3>{{"LIBERADO" | translate}}</ion-col>
          <ion-col class="danger" col-3>{{"FECHADO" | translate}}</ion-col>
          
      </ion-col>
    </ion-row>
    
  </ion-grid>
 <!-- ***************** Meses -->
  <ion-list *ngIf="meses && meses.length > 0">
      <ion-card *ngFor="let mes of meses;let i = index" [class.mes-not-id]="!mes.id">
        <ion-card-content class="mes-ano">
            <div class="bar-left"  
                [ngClass]="{'alert': mes.status == 1, 'secondary': mes.status == 2, 'danger': mes.status ==3, 'blue-grey': !mes.id}" >
            </div>
            <ion-buttons class="acoes-mes-ano" end>
                <span class="titulo-mes-ano">{{mes.nome | translate}}</span>
                <button class="btn-mes-ano" *ngFor="let acao of mes.acoes" ion-button
                  [disabled]="!permissaoMostrarMeses || ((!mes.status || mes.status == 1) && !isAdmin)" clear (click)="mostrarEscalaMes(mes)">
                    <img class="responsive-img img-btn-mes-ano" [src]="acao.imgUrl" alt="">
                </button>
            </ion-buttons>
          </ion-card-content>
      </ion-card>
  
  </ion-list>
</ion-content>


