<ion-header>
  <ion-navbar *ngIf="status == 1" color="alert"><ion-title>{{"DIA" | translate}}: {{dia.numDia}}</ion-title></ion-navbar>
  <ion-navbar *ngIf="status == 2" color="secondary"><ion-title>{{"DIA" | translate}}: {{dia.numDia}}</ion-title></ion-navbar>
  <ion-navbar *ngIf="status == 3" color="danger"><ion-title>{{"DIA" | translate}}: {{dia.numDia}}</ion-title></ion-navbar>
  <ion-navbar *ngIf="!status" color="blueGrey"><ion-title>{{"DIA" | translate}}: {{dia.numDia}}</ion-title></ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="mostrarColaboradores">
      <ion-segment-button value="trabalhando">
          {{"TRABALHANDO" | translate}}
      </ion-segment-button>
      <ion-segment-button value="folgando">
          {{"FOLGANDO" | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="mostrarColaboradores">
    <!-- Lista dos trabalhando -->
    <ion-item-group *ngSwitchCase="'trabalhando'" class="shadow-bottom">
      <ion-item-divider color="secondary">
        <ion-label item-start>
            {{"TRABALHANDO" | translate}}
        </ion-label>
        <ion-label item-end>
            {{"QUANTIDADE" | translate}}: {{dia.trabalhando.length}}
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let colaborador of dia.trabalhando">
        <ion-label>
            {{colaborador.nome}}
        </ion-label>
        <button *ngIf="isAdmin && status == 2"  item-end ion-button icon-only clear (click)="mudaEscala(colaborador);">
            <ion-icon name="swap"></ion-icon>
        </button>
      </ion-item>
    </ion-item-group>
    <!-- Lista dos folgando -->
    <ion-item-group *ngSwitchCase="'folgando'" class="shadow-bottom">
      <ion-item-divider color="danger">
          <ion-label item-start>
              {{"FOLGANDO" | translate}}
          </ion-label>
          <ion-label item-end>
              {{"QUANTIDADE" | translate}}: {{dia.folgando.length}}
          </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let colaborador of dia.folgando">
        <ion-label>
            {{colaborador.nome}}
        </ion-label>
        <button *ngIf="isAdmin && status == 2" item-end ion-button icon-only clear (click)="mudaEscala(colaborador);">
            <ion-icon name="swap"></ion-icon>
        </button>
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>
