// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #3f51b5,
  secondary:  #00796b,
  danger:     #b71c1c,
  light:      #f4f4f4,
  alert:      #ffc107,
  blueGrey:   #cfd8dc,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@mixin shadow-bottom(){
  box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em 0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
   -moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em 0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
   -webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em 0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
}
@mixin shadow-bottom-hover(){
  box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
  -webkit-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
}

.shadow-bottom{
  @include shadow-bottom();
}
.shadow-bottom-hover{
  @include shadow-bottom-hover();
}

.primary{
  color: white !important;
    background-color: #3f51b5 !important;
  }
  .secondary{
    color: white !important;
    background-color: #00796b !important;
  }
 
  .danger{
    color: white !important;
    background-color: #b71c1c !important;
  }

  .light{
    color: black !important;
    background-color: #f4f4f4 !important;
  }
  .alert{
    color: black !important;
    background-color: #ffc107 !important;
  }

  .blue-grey{
    color: black !important;
    background-color: #cfd8dc !important;
  }

  .dark{
    color: white !important;
    background-color: black !important;
  }
