<ion-header>
  <ion-toolbar *ngIf="mes.status == 1" color="alert">
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons left><button (click)="backPage();" ion-button icon-only>
        <ion-icon name="arrow-round-back" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="isAdmin">
        <button (click)="gerarEscalaMes();" ion-button icon-only>
          <ion-icon name="unlock" ></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="mes.status == 2" color="secondary">
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons left><button (click)="backPage();" ion-button icon-only>
          <ion-icon name="arrow-round-back" ></ion-icon>
        </button>
    </ion-buttons>
    <ion-buttons end *ngIf="isAdmin">
        <button (click)="fecharEscalaMes();" ion-button icon-only>
          <ion-icon name="lock" ></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>

    <ion-toolbar *ngIf="mes.status == 3" color="danger">
      <ion-title>{{titulo}}</ion-title>
      <ion-buttons left><button (click)="backPage();" ion-button icon-only>
          <ion-icon name="arrow-round-back" ></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="!mes.status" color="blueGrey"><ion-title>{{titulo}}</ion-title>
   </ion-toolbar>
  <div class="line-titles">
    <div class="title-day truncate center-align animate">{{"SEG" | translate}}</div>
    <div class="title-day truncate center-align animate">{{"TER" | translate}}</div>
    <div class="title-day truncate center-align animate">{{"QUA" | translate}}</div>
    <div class="title-day truncate center-align animate">{{"QUI" | translate}}</div>
    <div class="title-day truncate center-align animate">{{"SEX" | translate}}</div>
    <div class="title-day truncate center-align animate">{{"SAB" | translate}}</div>
    <div class="title-day truncate center-align animate">{{"DOM" | translate}}</div>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="isAdmin" class="back-days">
    <div  class="line-week" *ngFor="let semana of mes.semanas">
        <div *ngFor="let dia of semana.dias" class="day" (click)="carregarDia(dia);">
          <div class="conteudo-dia shadow-bottom" 
            [ngClass]="{'teal darken-2':dia.trabalhando && dia.trabalhando.length > 0,'red darken-4': dia.folgando && dia.folgando.length > 0}">
            <div class="num-dia white-text" *ngIf="dia.numDia">
              {{dia.numDia}}
            </div>
              <!-- **************** Imagens trabalhando e folgando não admin -->
              <div class="btn-day" *ngIf="dia.numDia">
                <div>
                    <div  class="div-trabalhando">
                      <div *ngIf="dia.trabalhando && dia.trabalhando.length > 0"  class="badges-trabalhando">
                         {{dia.trabalhando.length}}
                      </div> 
                    </div>
                    <div class="div-folgando">
                        <div class="badges-folgando" *ngIf="dia.folgando && dia.folgando.length > 0">
                            {{dia.folgando.length}} 
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div *ngIf="!isAdmin" class="back-days">
    <div  class="line-week" *ngFor="let semana of mes.semanas">
        <div *ngFor="let dia of semana.dias" class="day"
        [ngClass]="{'secondary':dia.trabalhando && dia.trabalhando.length > 0,'danger': dia.folgando && dia.folgando.length > 0}">
          <div class="shadow-bottom" 
            [ngClass]="{'teal darken-2':dia.trabalhando && dia.trabalhando.length > 0,'red darken-4': dia.folgando && dia.folgando.length > 0}">
            <div class="num-dia white-text" *ngIf="dia.numDia">
              {{dia.numDia}}
            </div>
              <!-- **************** Imagens trabalhando e folgando não admin -->
              <div class="btn-day apenas-imgs" *ngIf="dia.numDia">
                <div class="container-imgs">
                  <img *ngIf="dia.trabalhando && dia.trabalhando.length > 0" src="assets/images/working-white.png"  class="responsive-img">
                  <img *ngIf="dia.folgando && dia.folgando.length > 0"  src="assets/images/loafing-white.png"  class="responsive-img">
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</ion-content>
