.back-days{
    padding: 0.5rem;
}

.line-week{
    display: flex;
    width: 100%;
    padding: 0rem 0.8rem;
}

.conteudo-dia{
    background-color: rgba(255, 255, 255, 1);
}

.day{
    height: 14%;
    width: 14.3%;
    position: relative;
    opacity: 1;
}

.day:hover{
    cursor: pointer;
    box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.4), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.4), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
    -webkit-box-shadow: 0em 0.3em 1em 0em rgba(0, 0, 0, 0.4), 0em 0.6em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 0.8em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
    z-index: 200;
}

.title-day{
    height: 14.2%;
    width: 14.2%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}


.line-week{
    display: flex;
    width: 100%;
    padding: 0rem 0.8rem;
}

.line-titles{
    width: 100%;
    display: flex;
    padding: 0.5rem 1rem;
}


.num-dia{
    padding: 0.2rem;
}

.btn-day{
    margin: auto;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    min-height: 7rem;
}
.btn-day.apenas-imgs{
    min-height: 5rem;
}

.div-trabalhando, .div-folgando{
    text-align: center;
    margin: auto;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
}

.badges-trabalhando, .badges-folgando{
    text-align: center;
    margin: auto;
    padding: 0.5rem;
    border-radius: 50%;
    width: 2.8rem;
}

.badges-trabalhando{
    background-color: #00796b;
}

.badges-folgando{
    background-color: #b71c1c;
}

.text-icon{
    font-size: 0.9rem !important;
}